<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigerdranch.android.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/apk_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 相机 -->
        <uses-permission android:name="android.permission.CAMERA" />
        <!-- 振动 -->
        <uses-permission android:name="android.permission.VIBRATE" />

        <activity android:name=".setting.Scan" />
        <activity
            android:name=".management"
            android:label="@string/title_activity_management"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".other"
            android:label="@string/title_activity_other"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".password"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".settings"></activity>
    </application>

</manifest>